

<header> 

    <img src="rick3.png" width="100%" height="90"/> 

    <div class="header-buttons-arrangement">

        <button class="header-buttons-style"  [routerLink]="['characters']"> Characters </button>

        <button class="header-buttons-style" (click)="navigateTo('episodes')"> Episodes </button>

        <button class="header-buttons-style" (click)="navigateTo('locations')"> Locations </button> 

        <!-- <button class="header-buttons-style" (click)="navigateTo('favourites')"> Favourites </button>  -->
        
        


    </div>


</header>


