<form [formGroup]="form" class="form" (ngSubmit)="onSubmit()">
  <label for="name">Name:</label>
  <input type="text" id="name" formControlName="name" />
  <ng-container
    *ngIf="
      form.controls.name.touched &&
      form.controls.name.errors &&
      form.controls.name.errors['required']
    "
  >
    <p>Name is required</p>
  </ng-container>

  <label for="air_date">Air Date:</label>
  <input type="text" id="air_date" formControlName="air_date" />
  <ng-container
    *ngIf="
      form.controls.air_date.touched &&
      form.controls.air_date.errors &&
      form.controls.air_date.errors['required']
    "
  >
    <p>Air Date is required</p>
  </ng-container>

  <label for="episode">Episode:</label>
  <input type="text" id="episode" formControlName="episode" />
  <ng-container
    *ngIf="
      form.controls.episode.touched &&
      form.controls.episode.errors &&
      form.controls.episode.errors['required']
    "
  >
    <p>Episode is required</p>
  </ng-container>

  <label for="characters">Character:</label>
  <input type="text" id="characters" formControlName="characters" />
  <ng-container
    *ngIf="
      form.controls.characters.touched &&
      form.controls.characters.errors &&
      form.controls.characters.errors['required']
    "
  >
    <p>Character is required</p>
  </ng-container>
</form>
