.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2px 10px;
  background-color: #f8f9fa;
}

.logo {
  width: 100px;
}

.nav-buttons {
  padding: 0;
  display: flex;
  gap: 10px;
  align-items: center;
  list-style: none;
}

.link {
  border: 1px solid green;
  border-radius: 8px;
  padding: 10px;
}

.link:hover {
  background-color: lightgreen;
  color: green;
  transition: all 0.3s ease;
}

.anchor {
  color: black;
  text-decoration: none;
}

.anchor:hover {
  color: green;
  transition: all 0.3s ease;
}

.logout-button {
  all: unset;
  cursor: pointer;
  color: black;
  text-decoration: none;
  font: inherit;
}
