<div class="card-container">
  <ng-container *ngFor="let character of filteredCharacters">
    <app-card
      [headerTitle]="character.name"
      [footerText]="character.status"
      [isFavorite]="favoriteCharacterIds.includes(character.id)"
      (favoriteClick)="onFavoriteClick(character)"
    ></app-card>
  </ng-container>
</div>

<h2>Favorite Characters</h2>

<!-- 
  Capturamos lo que el usuario introduce en la barra de búsqueda, input.
  Luego se le pasa al método onFavoriteSearch para aplicar los filtros.
-->
<app-search-bar (searchText)="onFavoriteSearch($event)"></app-search-bar>
<div class="card-container">
  <ng-container *ngFor="let character of favoriteCharacters">
    <app-card
      [headerTitle]="character.name"
      [footerText]="character.status"
      [isFavorite]="favoriteCharacterIds.includes(character.id)"
      (favoriteClick)="onFavoriteClick(character)"
    ></app-card>
  </ng-container>
</div>
