.grid {
  height: 400px;
  width: 400px;

  display: grid;
  grid-template-columns: 100px 100px 100px 100px;
  grid-template-rows: 100px 100px 100px 100px;
}

.grid > div {
  display: flex;
  justify-content: center;
  align-items: center;
}
