.form {
  padding: 20px;

  border: 1px solid lightgray;
  border-radius: 8px;

  margin: 0 auto;

  width: 100%;

  @media (min-width: 768px) {
    max-width: 768px;
  }

  display: flex;
  flex-direction: column;
  gap: 10px;
}
